<form method="POST" action="/new">
    <label for="messageText">Message: </label>
    <input type="text" id="messageText" name="messageText" placeholder="This is my message...">

    <label for="messageUser">User: </label>
    <input type="text" id="messageUser" name="messageUser" placeholder="Dewiin">

    <button type="submit">Submit</button>
</form>