<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <div class="title-card">
            <h1> <%= title %> </h1>
            <a href="./new">
                <button class="add-message-button">+</button>
            </a>
        </div>

        <div class="messages-container">
            <% messages.forEach((message) => { %>
                <div class="message-box">
                    <p><%= message.text %></p>
                    <p><b><%= message.user %></b></p>
                </div>
            <% }) %> 
        </div>
    </body>
</html>