<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/form.css">
    </head>
    <body>
        <h1> <%= title %> </h1>

        <%- include("form") %>
    </body>
</html>