.open-title-card {
	text-align: center;
	padding: var(--title-padding);
}

.open-title-card > a {
	text-decoration: none;
	font-size: 32px;
	font-weight: 900;
}

.message-details-container {
	background-color: white;
	max-width: 40vw;
	max-height: 50vh;
	margin: auto;
	padding: 2rem;
	border: 1px solid;
	border-radius: 10px;
}
